// Media queries
$min-width-sm: 576px;
$min-width-md: 768px;
$min-width-lg: 992px;
$min-width-xl: 1200px;

// Fonts
$body-font-family: "Roboto", Arial, sans-serif;
$heading-font-family: "Fira Sans", sans-serif;
$transition-base: all .2s ease-in-out;

// Web style guide colours
$body-text-color: #343A40;
$grey-light-1: #989AA1; // Tertiary text
$grey-light-2: #ECEDEF; // Borders
$grey-light-3: #F7F8F9; // Backgrounds
$blue-primary: #0061A1;
$blue-dark-1: #00548C; // Hover
$blue-dark-2: #004A7A; // Active
$blue-light-1: #3381B4;
$blue-light-2: #7FB0D0;
$blue-light-3: #B2CFE2;
$blue-light-4: #E5EFF5;
$purple-primary: #6D1874;
$purple-light-1: #56135C;
$purple-light-2: #400E45;
$teal-primary: #00A4A6;
$teal-light-1: #00CACE;
$green-primary: #4CAF50;
$orange-primary: #FC8F06;
$orange-dark-1: #B86804;
$red-primary: #F95B45;

// Social colours
$facebook: #36609F;
$twitter: #2AA9E0;
$google: #DC4E41;
$pinterest: #CA2027;
$linkedin: #066C9A;
$instagram: #E4405F;
